body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.container {
  margin:0 auto;
  max-width:960px;
  padding-bottom:250px;
}

.jumbotron {
  background-color:#3498db;
}

.jumbotron h1, 
.jumbotron h2 {
  font-weight: 100;
}

.jumbotron h1 {
  font-size: 80px;
}

.content {
  text-align: center;
  color:white;
  padding: 50px;
}

.content-image {
  width: 100%;
}

.features, 
.resources {
  float: left;
  width: 50%;
}

.features {
  background-color: #9b59b6;
}

.resources {
  background-color: #2ecc71;
}

.features .content,
.resources .content {
    padding: 20px;
}

.features .content ul,
.resources .content ul {
  color:white;
  line-height: 30px;  
  text-align: left;
}

.features .heading,
.resources .heading {
    text-decoration: underline;
    color: white;
}

.resources .content ul a {
  color:white;
}

.color {
  color:#9b59b6;
}