body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.container {
  margin:0 auto;
  max-width:960px;
  padding-bottom:250px;
}

.jumbotron {
  width: 100%;
  background-color:#3498db;
}

.jumbotron h1 {
  font-size:80px;
  font-weight: 100;
}

.jumbotron h2 {
  font-weight: 100;
}

.content {
  text-align: center;
  color:white;
  padding: 50px;
}

.content-image {
  width: 100%;
}

.features {
  float:left;
  width:50%;
  background-color: #9b59b6;
}

.features-content {
  padding: 20px;
}

.features-content ul {
  color:white;
  line-height: 30px;
}

.features-heading {
  text-decoration: underline;
  color:white;
}

.resources {
  float:left;
  width: 50%;
  background-color: #2ecc71;
}

.resources-content {
  padding: 20px;
}

.resources-heading {
  text-decoration: underline;
  color:white;
}

.resources-content ul {
  color:white;
  line-height: 30px;
}

.resources-content ul a {
  color:white;
}

.quotes {
  width: 100%;
}

.quotes-heading {
  color:white;
}

.color {
  color:#9b59b6;
}